@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background: #e3f2ee;

}

.sidebar_menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #98c1d9;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar_menu .Logo {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar_menu .Logo .Text_Logo {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar_menu.open {
    width: 260px;
}

.sidebar_menu .Logo #Button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar_menu .Logo .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar_menu.open .Logo .icon,
.sidebar_menu.open .Logo .Text_Logo {
    opacity: 1;
}


.sidebar_menu.open .Logo #Button {
    text-align: right;
}

.sidebar_menu i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar_menu .Nav_Item {
    margin-top: 20px;
    height: 100%;
}

.sidebar_menu li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar_menu li .Menu_btn {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.382);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar_menu li:hover .Menu_btn {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar_menu.open li .Menu_btn {
    display: none;
}

.sidebar_menu input {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.382);
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 17px;
    transition: all 0.5s ease;
    background: #e0fbfc;
}

.sidebar_menu.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar_menu .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #98c1d9;
    color: #FFF;
}

.sidebar_menu.open .bx-search:hover {
    background: #98c1d9;
    color: #FFF;
}

.sidebar_menu .bx-search:hover {
    background: #FFF;
    color: #87CEFA;
}

.sidebar_menu li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 17px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #3d5a80;
}

.sidebar_menu li a:hover {
    background: #e0fbfc;
}

.sidebar_menu li a .Item_Name {
    color: #e0fbfc;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar_menu.open li a .Item_Name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar_menu li a:hover .Item_Name,
.sidebar_menu li a:hover i {
    transition: all 0.5s ease;
    color: #3d5a80;
}

.sidebar_menu li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 17px;
}

.sidebar_menu li.Details {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #3d5a80;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar_menu.open li.Details {
    width: 250px;
}

.sidebar_menu li .Child_Details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar_menu li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 14px;
    margin-right: 10px;
}

.sidebar_menu li.Details .Name,
.sidebar_menu li.Details .Roll {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar_menu li.Details .Roll {
    font-size: 12px;
}

.sidebar_menu .Details #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #98c1d9;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar_menu.open .Details #log_out {
    width: 50px;
    background: none;
}

.container {
    /* background-color: #3d5a80;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: white;
    font-family: "Poppins", sans-serif; */


    position: relative;
    /* margin: 10%; */
    background: #e3f2ee;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.box {
    margin-top: 100px;
    margin-left: 25%;
    padding: 10px 50px 100px;
    height: 400px;
    width: 500px;
    background-color: #3d5a80;
    position: absolute;
    border-radius: 20px;
    color: #e0fbfc;
}

.box h1 {
    color: #e0fbfc;
    text-align: center;
    padding: 40px 0px 50px;
}

.questions p {
    font-size: 20px;
    padding-bottom: 10px;
}

.sidebar_menu.open~.container {
    left: 250px;
    width: calc(100% - 250px);
}

.container .Child_Text {
    display: inline-block;
    color: #3d5a80;
    font-size: 42px;
    font-weight: 450;
    margin-left: 15%;
    margin-top: 35px;
}


#prev_btn {
    font-size: 15px;
    margin-top: 65px;
    display: flex;
    margin-left: -20px;
    background-color: #e0fbfc;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next_btn {
    font-size: 15px;
    display: flex;
    margin-top: -41px;
    margin-left: 350px;
    background-color: #e0fbfc;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 420px) {
    .sidebar_menu li .Menu_btn {
        display: none;
    }
}